<html>
<h3>Upload a Photo</h3><br>
    <form action="fileupload" method="post" enctype="multipart/form-data">
        Title <br>
<input type="text" name="title" minlength=1><br><br>
        Description<br> 
<input type="text" name="description" minlength=1><br><br>
  	Photo<br> 
        <input type="file" name="filetoupload"><br><br>
        <input type="submit" value="Upload"><br>
    </form>
</html>


